body {
  background-color: rgb(252, 252, 252);
}
header {
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-family: "Calistoga", cursive;
  font-size: 35pt;
  margin: 20px;
}
.content {
  justify-content: center;
}

h2 {
  font-family: "Calistoga", cursive;
  font-size: 15pt;
  padding-bottom: 10px;
  line-height: 1.2;
}
h3 {
  font-size: 9pt;
  padding-bottom: 5px;
}
/* button css */
button {
  font-family: "Calistoga", cursive;
  font-size: 15pt;
  padding: 10px 30px;
  background-color: rgb(226, 203, 74);
  color: white;
}
button.submit-result {
  margin: 20px;
  position: fixed;
  top: 50vh;
  right: 0;
}
#start {
  display: block;
  margin: 0 auto;
}
#time-remaining {
  text-align: center;
  margin: 20px;
  position: fixed;
  top: 30vh;
  right: 0;
}
#trivia-questions {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  line-height: 120%;
  max-width: 60%;
  min-width: 550px;
  margin: 0 auto;
}
/* result page */
div.result-img {
  margin: 0 auto;
}
img.result-img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: auto;
  align-items: center;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  line-height: 120%;
  align-content: center;
  text-align: center;
}
